[Param]
workdir = ./

##For Metagenome Input
kraken = ~/miniforge3/envs/icefinder2/bin/kraken2
krakenDB = /Users/910904506/kraken2
###
#mmseqs = ~/miniforge3/envs/icefinder2/bin/mmseqs
#mmseqDB = /Your/Path/to/mmseqs2/
defensefinder = ~/miniforge3/envs/icefinder2/bin/defense-finder
blastp = ~/miniforge3/envs/icefinder2/bin/blastp
blastn = ~/miniforge3/envs/icefinder2/bin/blastn
seqkit = ~/miniforge3/envs/icefinder2/bin/seqkit
prodigal = ~/miniforge3/envs/icefinder2/bin/prodigal
prokka = ~/miniforge3/envs/icefinder2/bin/prokka
macsyfinder = ~/miniforge3/envs/icefinder2/bin/macsyfinder
hmmsearch = ~/miniforge3/envs/icefinder2/bin/hmmsearch